body {
    padding: 0% 10%;
}

div {
    margin-bottom: 2em;
}

.section {
    padding-top: 1em;
}

.upper {
    text-transform: uppercase;
}

/* States */
.hidden {
    display: none;
    /* visibility: hidden; */
}

.valid {
    background-color: chartreuse;
}

.invalid {
    background-color: crimson;
}

#authentication {
    display: flex;
    justify-content: flex-end;
}